/* src/InputComponent.css */
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 10px;
  color: #aaa;
}

.input-field {
  width: 100%;
  padding: 8px 8px 8px 32px; /* Adjust padding to make space for the icon */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
